.svg-holder {
    float: left;
    width: 65%;
    margin: 2%;
    border: 1px solid #e2e2e2;
}

.controls{
    float: left;
    width: 30%;
    margin: 20px auto 20px auto;
}

.control-label{
    font-family: Arial;
    color: SkyBlue;
    text-align: center;
}
#structures {
    margin: 1em 0 3em 0;
}
input[type="range"] {
    width: 100%;
}
.link {
  stoke-width: 2;
  stroke: #ccc;
}
